@using System.Linq
@model CredentialsViewModel

<a class="btn btn-primary mt-3" role="button" asp-controller="Credentials" asp-action="Request Credential">Request Credential</a>

@if (Model.Credentials.Any())
{
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Credentials)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.State.ToString()
                    </td>
                    <td>
                        @item.CreatedAt
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else {
    <p>No Credentials have been issued to you yet. Request a credential to get started.</p>
}

